@model Skill;
<div class="topbar">
    <div style="display:flex;align-items:center;gap:14px;">
        <div>
            <h1 id="pageTitle">Delete</h1>
        </div>
    </div>
</div>
<div class="form-card">
    <div class="fc-body">
        <form asp-action="DeleteConfirmed"
              asp-controller="Skill"
              asp-area="Admin"
              method="post">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h3>Hero</h3>
            <div class="field-grid">
                <div class="field">
                    <label asp-for="SkillsTitle"></label>
                    <input asp-for="SkillsTitle" class="form-control" />
                    <span asp-validation-for="SkillsTitle" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                Delete
            </button>
            <a asp-area="admin" asp-controller="Skill" asp-action="index" class="btn btn-danger">
                Cancel
            </a>
        </form>
    </div>
</div>