@{
    ViewData["Title"] = "Home Page";
}
<section class="hero" id="top">
    @await Component.InvokeAsync("HomeHeroSetting")
</section>
<section class="block" id="about">
    @await Component.InvokeAsync("HomeAboutSetting")
</section>
<section class="block" id="skills">
    @await Component.InvokeAsync("SkillCategory")
</section>
@await Html.PartialAsync("_Github")
<section class="block" id="certs">
    @await Component.InvokeAsync("Certificate")
</section>
@await Html.PartialAsync("_Language")
<section class="block" id="cv">
    @await Component.InvokeAsync("Experience")
</section>
<section class="block" id="work">
    @await Component.InvokeAsync("Project")
</section>
<section class="block" id="learning">
    @await Component.InvokeAsync("LearningItem")
</section>

@await Html.PartialAsync("_Contact")